@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Cairo', sans-serif;
  background-color: #fdf2f4;
  color: #111827;
  direction: rtl;
  transition: all 300ms ease-out;
}
